<h2 mat-dialog-title>Atualizar Informações do Usuário</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <div class="row">
      <mat-icon
        color="accent"
        class="prefix"
      >person</mat-icon>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Nome de Usuário"
          formControlName="username"
        >
      </mat-form-field>

      <mat-form-field style="margin-left: 12px">
        <input
          matInput
          type="text"
          type="text"
          placeholder="Nome Completo"
          formControlName="firstName"
        >
      </mat-form-field>

    </div>
    <div class="row">
      <mat-icon
        color="accent"
        class="prefix"
      >lock</mat-icon>
      <mat-form-field>
        <input
          matInput
          type="text"
          type="password"
          placeholder="Senha"
          formControlName="password"
        >
      </mat-form-field>

      <mat-form-field style="margin-left: 12px">
        <input
          matInput
          type="text"
          type="text"
          placeholder="E-mail"
          formControlName="email"
        >
      </mat-form-field>
    </div>
    <div class="row">
      <mat-icon
        color="accent"
        class="prefix"
      >contact_phone</mat-icon>
      <mat-form-field>
        <input
          matInput
          type="tel"
          placeholder="Celular"
          formControlName="phone"
          mask='(00) 0000-00000'
        >
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
  >Descartar</button>
  <button
    mat-button
    color="primary"
    [mat-dialog-close]="true"
    (click)="update()"
    cdkFocusInitial
  >Salvar</button>
</mat-dialog-actions>
